<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/interview.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--BootStrab tag-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--BootStrab tag-->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Interviewer</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <!--<a class="navbar-brand" href="#"></a>-->
          <img id="logo" src="static/images/logo5.png" alt="pic"> 
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <br>
      <br>
      <h1>Available jobs</h1>
      <br>
      <br>
      
      <hr class="hr1">
      <div class="vl"></div>

      <figure class="snip1585">
        <img src="static/images/SQL.jpg" alt="sample70" />
        <figcaption>
          <h3>SQL <span>Developer</span></h3>
        </figcaption>
        <a href="database_specialist"></a>
      </figure>
      <label class="sql" for="static/images/SQL.jpg">SQL Developers are responsible for developing SQL databases 
        and writing applications to interface with SQL databases. Development often consists of designing tables, 
        storing procedures, views and functions.<br><br> <h6>responsibilities:</h6>
        <ul>
           <li> Designing database tables and structures.</li>
            <li>Creating views, functions and stored procedures.</li>
            <li>Writing optimized SQL queries for integration with other applications.</li>
            <li>Creating database triggers for use in automation.</li>
            <li>Maintaining data quality and overseeing database security.</li>
        </ul> 
        <br><br>
     <pre>  <b>company:</b> Microsoft              <b>Location:</b> Saudi Arabia                       <b>Level:</b> Senior</pre>                    

         </label>
      <hr class="hr1">
      
      <figure class="snip1585">
        <img src="static/images/UIDesign.jpg" alt="sample70" />
        <figcaption>
          <h3>UI/UX <span>Designer</span></h3>
        </figcaption>
        <a href="solution_engineer"></a>
      </figure>
      <label class="sql" for="static/images/SQL.jpg">UI Designers are generally responsible for collecting, researching, 
        investigating and evaluating user requirements. Their responsibility is to deliver an outstanding 
        user experience providing an exceptional and intuitive application design.<br><br> 
        <h6>responsibilities:</h6>
        <ul>
            <li>Improve the look and feel of interactive computers and product software.</li>
            <li>Create overall concepts for the user experience within a business webpage or product, 
                ensuring all interactions are intuitive and easy for customers.</li>
            <li>Analyze customer responses and website data to determine high traffic web pages 
                and why some perform better than others.</li>
            <li>Design the aesthetics to be implemented within a website or product, 
                from the layout menus and drop-down options to colors and fonts.</li>
        </ul>
        <br><br>
     <pre>  <b>company:</b> Google              <b>Location:</b> Saudi Arabia                       <b>Level:</b> Intern</pre>
    
    </label>

      <hr class="hr1">
      
      <figure class="snip1585">
        <img src="static/images/SDeveloper.jpg" alt="sample70" />
        <figcaption>
          <h3>Software <span>Developer</span></h3>
        </figcaption>
        <a href="software_engineer"></a>
      </figure>
      <label class="sql" for="static/images/SQL.jpg">Researching, designing, implementing, 
        and managing software programs. Testing and evaluating new programs. 
        Identifying areas for modification in existing programs and subsequently developing these 
        modifications. Writing and implementing efficient code.<br><br>

        <h6>responsibilities:</h6> 
        <ul>
            <li>Mathematical aptitude.</li>
            <li>Problem-solving skills.</li>
            <li>Programming languages (C++, Python, Java)</li>
            <li>Excellent organisational and time management skills.</li>
        </ul>
        <br><br>
        <pre>  <b>company:</b> Apple              <b>Location:</b> Saudi Arabia                       <b>Level:</b> Jonior</pre>
    
    </label>
    
    <hr class="hr1">
      
      <figure class="snip1585">
        <img src="static/images/qa.jpg" alt="sample70" />
        <figcaption>
          <h3>QA <span>Engineer</span></h3>
        </figcaption>
        <a href="qa_engineer"></a>
      </figure>
      <label class="sql" for="static/images/SQL.jpg">QA engineer is responsible for the creation of tests 
        to identify issues with software before the product launch. ... Other tasks include developing and 
        running new tests, reporting on the results and collaborating with software developers to fix 
        program issues.<br><br>

        <h6>responsibilities:</h6> 
        <ul>
            <li>Create tests to identify software problems.</li>
            <li>Analyze bugs and errors found during tests.</li>
            <li>Document results of tests for the software development team.</li>
            <li>Recommend improvements in software to enhance user experience.</li>
        </ul>
        <br><br>
        <pre>  <b>company:</b> IBM              <b>Location:</b> Saudi Arabia                       <b>Level:</b> Jonior</pre>
    
    </label>

    <div class="footer">
      <pre> 
          <small>
              
                <a href="http://" class="grey">About us</a>                 <a href="http://" class="grey">Contact us</a>                             <a href="http://" class="grey">Home</a>                                    <a href="http://" class="grey">Join us</a>                    <a href="http://" class="grey">Companies</a>       
            </small>
      </pre>
  
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-instagram"></a>
  
    </div>
    <style>
      body{background-color: rgba(23, 21, 39, 0.911);
        border:  2px solid rgb(27 119 119);
        }
    </style>
</body>